Vamos a seguir el tutorial que se indica en el link https://guru99.es/pyspark-tutorial/ para comprobar como funciona spark.

# Contexto de Spark

1º) En este ejemplo necesitamos conexión con un clúster.

In [1]:
import pyspark
from pyspark import SparkContext
sc = SparkContext()

Una vez hemos cargado el entorno podemos operar con él. La siguiente celda vamos a paralelizar el cálculo de los cuadrados. Usaremos una función lambda para que me devuelva los cuadrados de nums.

In [2]:
nums = sc.parallelize([1,2,3,4])
#nums.take(1)
squared = nums.map(lambda x: x*x).collect()
for num in squared:
    print('%i' %(num))

1
4
9
16

# Contexto de SQLContext

Ahora vamos a cargar el contexto de SQL, para ello necesitamos importar los siguiente:

In [3]:
from pyspark.sql import Row
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [6]:
list_p = [('John',19),('Smith',29),('Adam',35),('Henry',50)]
rdd = sc.parallelize(list_p)
ppl = rdd.map(lambda x: Row(name=x[0], age=int(x[1])))
sqlContext.createDataFrame(ppl)
DF_ppl = sqlContext.createDataFrame(ppl)
DF_ppl.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)